.education-container {
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    padding: 3rem;
    color: var(--bg-color);
}

.education-container h3 {
    margin-bottom: 1rem;
}

.education-container h4 {
    font-size: 1.4rem;
}

.education-container li {
    font-size: 1.1rem;
}

.graduation, .technical {
}

.graduation, .technical, .courses-table {
    width: 100%;
}

.courses-table {
    border-collapse: collapse;
    /*border: .1rem solid var(--bg2-color);*/
    font-size: 1rem;
    overflow: auto;
}

.courses-table caption {
    font-family: var(--primary-font);
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.courses-table th, .courses-table td {
    padding: .3rem;
    text-align: left;
    border-bottom: .1rem solid var(--bg2-color);
}

.courses-table th {
    background-color: var(--bg2-color);
    color: var(--main-color);
}