* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: var(--second-font);
}

h1, h2, h3, h4 {
    font-family: var(--primary-font);
    font-weight: bold;
}

p {
    font-size: 1.1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 80%;
    height: .1rem;
    border: 0px;
    background-color: var(--bg-color);
}

footer {
    display: flex;
    color: var(--main-color);
    height: 3rem;
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
}
