* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--second-font);
}

h1, h2 {
    font-family: var(--primary-font);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 80%;
    height: .1rem;
    border: 0px;
    background-color: var(--bg-color);
}