.dark-bg {
    background-color: var(--bg-color);
}

.light-bg {
    background-color: var(--main-color);
}

.page-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 48rem;
    max-width: 70rem;
    background-color: var(--main-color);
}