.greeting-container {
    border-radius: .8rem .8rem 0 0;
    height: 40vh;
}

#perfil-photo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.greeting-content {
    display: flex;
    width: 80%;
    max-width: 40rem;

    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;
}

.greeting-content p {
    font-size: 1.5rem;
}

.basic-information-container {
    border-radius: 0 0 .8rem .8rem;
    height: 33vh;
}

.about-description, .basic-information-content {
    flex: 1;
    margin: 3rem;
}

.about-description h3, .basic-information-content h3 {
    margin-bottom: 1rem;
}

.basic-information-content li {
    display: flex;
}

.basic-information-content .icon {
    width: 1.2rem;
    height: 1.2rem;
    align-items: center;
}

.icon-container {
    display: flex;    
    align-items: center;
}

.basic-info {
    margin: .2rem .5rem;
}
