.greeting-container {
    flex-direction: column;
    align-items: center;
}

#perfil-photo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 .4rem .1rem rgba(0, 0, 0, 0.2)
}

.greeting-content, .basic-information-container {
    display: flex;
    max-width: 40rem;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.greeting-content {
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.greeting-content p {
    font-size: 1.5rem;
}

.basic-information-container {
    align-items: baseline;
}

.description-profile, .about-description {
    text-align: center;
}

.about-description, .basic-information-content {
    flex: 1;
}

.basic-information-content ul {
    margin: auto;
    width: 81%;
}

.about-description h3, .basic-information-content h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.basic-information-content li {
    display: flex;
}

.basic-information-content .icon {
    width: 1.2rem;
    height: 1.2rem;
    align-items: center;
}

.basic-information-content .external-icon {
    width: 1rem;
    height: 1rem;
}

.icon-container {
    display: flex;    
    align-items: center;
}

.basic-info {
    margin: .2rem .5rem;
}
