.close-menu {
    display: none;
}

.back-to-top {
    display: none;
}

@media screen and (max-width: 560px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.5rem;
    }

    .menu-container {
        bottom: 0;
        text-align: center;
    }

    .menu-container > a {
        margin: 0 auto ;
    }

    .menu-container, .menu-container ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-container {
        height: 100vh;
        z-index: 1;
    }

    .menu-container {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--main-color);
        color: var(--bg-color);
        font-size: 2rem;
        line-height: 2rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
        padding: .5rem;
        border-radius: .4rem;
        border: .1rem solid var(--bg-color);
        cursor: pointer;
    }

    .close-menu:checked~.menu-container {
        display: flex;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .back-to-top {
        opacity: 0.6;
        position: fixed;
        background-color: var(--main-color);
        bottom: 3rem;
        left: 46.36%;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: .1rem solid var(--bg-color);
    }

    .basic-container {
        flex-flow: column nowrap;
        align-items: center;
        min-width: 100vw;
        border-radius: 0;
    }

    .greeting-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .description-profile h1,
    .description-profile h2,
    .description-profile p {
        padding: .3rem;
    }

    .description-profile p {
        font-size: 1.8rem;
    }

    .basic-information-container {
        flex-direction: column;
        margin: 0;
    }

    .about-description, .basic-information-content {
        padding: 1rem;
        width: 100%;
        text-align: center;
    }

    .basic-information-content ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        justify-items: center;
    }

    .links-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 190px);
        justify-items: center;
    }

    .links-container li:active {
        background-color: rgba(169, 169, 169, 0.3);
        border-radius: .4rem;
    }

    .basic-information-container li {
        display: inline-flex;
        padding: .8rem;
    }

    .greeting-content, .basic-information-container {
        flex: 1;
        align-items: center;
    }

    .basic-information-content {
        margin-bottom: 7rem;
    }

    .basic-information-content .icon {
        width: 2rem;
        height: 2rem;
    }

    .external-icon {
        width: 1.2rem;
        height: 1.2rem;
    }

    .skill-container article {
        width: 90%;
    }
    
    .skill-container h3 {
        margin-bottom: 2rem;
    }
    
    .skill-container li {
        margin-bottom: 1rem;
    }

    .competencies {
        flex: 2;
    }

    .competencies-container {
        flex-direction: column;
    }

    .education-container .courses {
        width: 100%;
    }

    .separator {
        left: 0;
        display: none;
    }

    .professional, .internship {
        min-width: 90%;
        margin: 2rem auto;
    }
}