.skill-container {
    flex-direction: column;
    background-color: var(--bg2-color);
    box-shadow: 0 0 .4rem .1rem rgba(0, 0, 0, 0.3);
    color: var(--main-color);
}

.skill-container ul {
    list-style: inside;
}

.skills, .competencies {
    flex: 1;
    padding: 3rem;
}

.skills h3, .competencies h3 {
    margin-bottom: 1rem;
}

.competencies-container {
    display: flex;
}

.competencies-container ul {
    flex: 1;
}
